<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <title>flappy bird</title>
  <meta name="keywords" content="your keywords">
  <meta name="description" content="your description">
  <meta name="author" content="author,email address">
  <meta name="robots" content="index,follow">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="renderer" content="ie-stand">

  <!-- S 引用前端页面片 -->
  <!--#include virtual="/sinclude/cssi/fd/pc/game/Flappy/flappy.shtml" -->
  <!-- E 引用前端页面片 -->

  <!-- global:css -->
  <%= getCSS('gb.css', 'gb') %>
  <!-- endglobal -->

  <%= getCSS() %>
</head>
  <div class="flappy">
    <canvas id="myCanvas" width="500" height="300"></canvas>
    <div class="pop J_pop" style="display: none;" >
      <p class="pop_text J_popText"></p>
      <a href="javascript:;" class="pop_btn J_popBtn">再玩一次</a>
    </div>
  </div>
  
  <!-- S 引用前端页面片 -->
  <!--#include virtual="/sinclude/cssi/fd/pc/game/Flappy/flappy_js.shtml" -->
  <!-- E 引用前端页面片 -->
  <!-- global:js -->
  <!-- endglobal -->

  <%= getJS() %>
</body>
</html>
